II/6/1/hello.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:ns0="http://nodebook"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  targetNamespace="http://nodebook">

  <wsdl:types>
    <xs:schema xmlns:ns="http://nodebook"
                attributeFormDefault="qualified"
                elementFormDefault="qualified"
                targetNamespace="http://nodebook">
  
      <xs:element name="HelloWorld">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="firstname" type="xs:string"/>
            <xs:element name="lastname" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      
      <xs:element name="HelloWorldResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="greeting" type="xs:string"/>
            <xs:element name="timestamp" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  
  <wsdl:message name="HelloWorldRequest">
    <wsdl:part name="parameters" element="ns0:HelloWorld"/>
  </wsdl:message>
  
  <wsdl:message name="HelloWorldResponse">
    <wsdl:part name="parameters" element="ns0:HelloWorldResponse"/>
  </wsdl:message>
  
  <wsdl:portType name="HelloWorldPortType">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="ns0:HelloWorldRequest" wsaw:Action="urn:HelloWorld"/>
      <wsdl:output message="ns0:HelloWorldResponse" wsaw:Action="urn:HelloWorldResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="HelloWorldSOAP12Binding" type="ns0:HelloWorldPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
  
    <wsdl:operation name="HelloWorld">
    <soap:operation soapAction="urn:HelloWorld" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="HelloWorldService">
    <wsdl:port name="HelloWorldSOAP12port_http" binding="ns0:HelloWorldSOAP12Binding">
      <soap:address location="http://localhost:8080/HelloWorldService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>